:root {
    --main-color: #044389;
    --secondary-color: #BFDBF7;
    --tertiary-color: #E1E5F2;
    --color-accent: #FFFFFF;
    --background-color: #985F6F;
    font-family: 'Google Sans', sans-serif;
}